In [1]:
d1= {"name" : "Amit","age" : "22","sex" : "male"}
print(d1)

{'name': 'Amit', 'age': '22', 'sex': 'male'}

In [2]:
d1= {"name" : "Amit","age" : "22","sex" : "male"}
print(d1["age"])

22

In [3]:
d1= {"name" : "Amit","age1" : "22","age2" :"22","sex" : "male"}
print(d1["age2"])

22

In [4]:
d1= {"name" : "Amit","age" : "22","age" :"23","sex" : "male"}
print(d1["age"])

23

In [5]:
d1= {"name" : "Amit","age" : "22","sex" : "male"}
d2= {"name" : "Anik","age" : "23", 10 : 10, 10.5 : 10.5, True : True, (2,3) : 5}
print(d2)

#here (2,3) is tuple whoose value is 5

{'name': 'Anik', 'age': '23', 10: 10, 10.5: 10.5, True: True, (2, 3): 5}

In [6]:
d1= {"name" : "Amit","age" : "22","sex" : "male"}
d2= {"name" : "Anik","age" : "23", 10 : 10, 10.5 : 10.5, True : True, (2,3) : 5}
print(d2[2,3])

5

In [7]:
d1= {"name" : "Amit","age" : "22","sex" : "male"}
d2= {"name" : "Anik","age" : "23", 10 : 10, 10.5 : 10.5, True : True, (2,3) : 5}

d2.pop("age")
print(d2)

#to delete any item pop is used

{'name': 'Anik', 10: 10, 10.5: 10.5, True: True, (2, 3): 5}

In [8]:
d1= {"name" : "Amit","age" : "22","sex" : "male"}
d2= {"name" : "Anik","age" : "23", 10 : 10, 10.5 : 10.5, True : True, (2,3) : 5}
print(d2)

d2.clear()
print(d2)

#to clear everything

{'name': 'Anik', 'age': '23', 10: 10, 10.5: 10.5, True: True, (2, 3): 5}
{}

In [9]:
d1= {"name" : "Amit","age" : "22","sex" : "male"}
d2= {"name" : "Anik","age" : "23", 10 : 10, 10.5 : 10.5, True : True, (2,3) : 5}

x=len(d2)
print(x)

6

In [11]:
d1= {"name" : "Amit","age" : "22","sex" : "male"}
d2= {"name" : "Anik","age" : "23", 10 : 10, 10.5 : 10.5, True : True, (2,3) : 5}

print(d1.items())
print(d1.keys())

dict_items([('name', 'Amit'), ('age', '22'), ('sex', 'male')])
dict_keys(['name', 'age', 'sex'])

In [1]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

print(list(inventory.values()))
print(list(inventory.items()))

for k in inventory:
    print("Got",k,"that maps to",inventory[k])

[430, 312, 525, 217]
[('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)]
Got apples that maps to 430
Got bananas that maps to 312
Got oranges that maps to 525
Got pears that maps to 217

In [2]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
print('apples' in inventory)
print('cherries' in inventory)

if 'bananas' in inventory:
    print(inventory['bananas'])
else:
    print("We have no bananas")

True
False
312

In [3]:
total = 0
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
for akey in mydict:
    if len(akey) > 3:
        total = total + mydict[akey]
print(total)

43